<div class="container">
    <h1>myNLU-RASA Test Application</h1>
    <h2>Parse</h2>
    <p>Write a sentence and then press "Parse Sentence" button to analyse with myNLU-RASA</p>
    <form action="" method="post" enctype="multipart/form-data">
        <fieldset>
            <p>
                <label for="sentence">Sentence:</label><br>
                <input type="text" id="sentence" name="sentence" placeholder="Here write the sentence to parse" class="col-xs-12 col-md-8"/><br>
            </p>
            <p>
                <input type="submit" value="Parse Sentence"/>
            </p>
            <input type="hidden" name="action" value="parse"/>
        </fieldset>
        <fieldset>
            <label for="parseResult">Parsing Result</label><br>
            <textarea name="parseResult" id="parseResult"  rows="12" class="col-xs-12 col-md-8">{{ parseResult }}</textarea>
        </fieldset>
        {{#if parseError}}
            <div class="alert alert-danger fade in">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                {{ parseError }}
            </div>
        {{/if}}
    </form>
    <hr>
    <h2>Train</h2>
    <p>Select a JSON training file and press "Train" to upload and train myNLU-RASA.</p>
    <form action="" method="post" enctype="multipart/form-data">
        <fieldset>
            <p><input type="file" id="trainFile" name="trainFile" accept="application/json"></p>
            <p>Or copy and paste your JSON file in the text box bellow:</p>
            <p class="clearfix"><textarea name="json_text" id="json_text" rows="12" class="col-xs-12 col-md-8" style="display:block">{{ json_text }}</textarea></p>
            <p><input type="submit" value="Train"/></p>
            <p><input type="hidden" name="action" value="train"/></p>

            {{#if trainResult }}
                <div class="alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>Success!</strong> Training initiated... check status
                </div>
            {{/if}}
            {{#if trainError}}
                <div class="alert alert-danger fade in">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>Error!</strong>{{trainError}}
                </div>
            {{/if}}

        </fieldset>
    </form>
    <hr>
    <h2>Check Status</h2>
    <p>Check Training status</p>
    <form action="" method="post" enctype="multipart/form-data">
        <fieldset>
            <input type="submit" value="Check Status"/>
            <input type="hidden" name="action" value="status"/>
            {{#if showStatus }}
                <div class="alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    Training processes: {{ trainingProcesses }}
                </div>
            {{/if }}
            {{#if statusError}}
                <div class="alert alert-danger fade in">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>Error!</strong>{{ statusError }}
                </div>
            {{/if}}
        </fieldset>
    </form>
</div>